@model Helpers4.Models.Employee

@{
    Layout = "~/Views/Shared/_SiteMaster.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("input:text.date").datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>

<div>
    <h2>Edit</h2>
    @using (@Html.BeginForm())
    {
        @Html.EditorForModel()
        <br/>
        <br/>
        <input type="submit" value="Save"/>
    }
</div>