
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_SiteMaster</title>
    <link href="~/css/foundation.css" rel="stylesheet" />
</head>
<body>
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 cell">
            @RenderBody()
        </div>
    </div>
</body>
</html>
