
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Data Attributes</title>

    @Styles.Render("~/Content/Allcss")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>

</head>
<body>
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 cell">
            @RenderBody()
        </div>
    </div>
</body>
</html>
